@import "reset";
@import "flex";
@import "sidebar";
@import "animations";
body {
  background-color: #f4f4f4;
}
.table-operator{
  margin-bottom: 15px;
  button{
    margin-left: 8px;
  }
}
.drawer-modal-body{
  width: 100%;
  border: 1px solid #e9e9e9;
  padding: 10px 16px;
  background: #fff;
  .menu-modal-footer{
    button{
      margin-left: 8px;
    }
  }
}

.ant-table-body{
  overflow-x: auto!important;
}
