@import "reset";
@import "flex";
@import "sidebar";
@import "animations";
body {
  background-color: #f4f4f4;
}

// table
.table-operator{
  margin-bottom: 15px;
  button{
    margin-left: 8px;
  }
}
.ant-drawer-body{
  background: #fff;
  .menu-modal-footer{
    button{
      margin-left: 8px;
    }
  }
}


.ant-table-body{
  overflow-x: auto;
  th{
    white-space: nowrap;
  }
}
