@import "reset";
@import "flex";
@import "animations";
@import "color";

#app{
  height: 100%;
}
// table
.table-operator{
  margin-bottom: 10px;
  button{
    margin-right: 8px;
  }
}
.ant-form-item{
  margin-bottom: 13px;
}
.ant-table-body{
  overflow-x: auto;
  th{
    white-space: nowrap;
  }
}

.none{
  display: none!important;
}

.ant-input{
  background-color: var(--Grayblue_13);
  border: 1px solid var(--Grayblue_09);
}
.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled){
  border-color:var(--Grayblue_08);
}
.ant-input:focus{
  border-color:var(Primayblue_03);
}
