@font-face {
  font-family: "iconfont"; /* Project id 1212961 */
  src: url('iconfont.woff2?t=1698127033859') format('woff2'),
       url('iconfont.woff?t=1698127033859') format('woff'),
       url('iconfont.ttf?t=1698127033859') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-Airplane-Outline:before {
  content: "\e7da";
}

.icon-error:before {
  content: "\e617";
}

.icon-close:before {
  content: "\e6a8";
}

.icon-wodebiji:before {
  content: "\e607";
}

.icon-notebook:before {
  content: "\e641";
}

.icon-value-added-Fill:before {
  content: "\e7d8";
}

.icon-value-added-Outline:before {
  content: "\e7d9";
}

.icon-Contribution-Fill:before {
  content: "\e7d7";
}

.icon-a-Proposalanalysis-Fill:before {
  content: "\e7d5";
}

.icon-a-Proposalanalysis-Outline:before {
  content: "\e7d6";
}

.icon-Translation-Fill:before {
  content: "\e7d3";
}

.icon-Translation-Outline:before {
  content: "\e7d4";
}

.icon-Miniwindow-On:before {
  content: "\e7d1";
}

.icon-Miniwindow-Off:before {
  content: "\e7d2";
}

.icon-Compose-Fill:before {
  content: "\e7d0";
}

.icon-Compose-Outline:before {
  content: "\e7cf";
}

.icon-contribute-Outline:before {
  content: "\e7cd";
}

.icon-Contribute-Fill:before {
  content: "\e7ce";
}

.icon-Template-Outline:before {
  content: "\e7cb";
}

.icon-Template-Fill:before {
  content: "\e7cc";
}

.icon-Standard-Fill:before {
  content: "\e7c9";
}

.icon-Standard-Outline:before {
  content: "\e7ca";
}

.icon-Eye-Outline:before {
  content: "\e7c7";
}

.icon-Eye-Fill:before {
  content: "\e7c8";
}

.icon-Creation-Fill:before {
  content: "\e7c5";
}

.icon-Creation-Outline:before {
  content: "\e7c6";
}

.icon-Package-Fill:before {
  content: "\e7c4";
}

.icon-hand-Fill:before {
  content: "\e7c2";
}

.icon-hand-Outline:before {
  content: "\e7c3";
}

.icon-Refresh:before {
  content: "\e7c0";
}

.icon-Change:before {
  content: "\e7c1";
}

.icon-redu2:before {
  content: "\e669";
}

.icon-redu1:before {
  content: "\e66a";
}

.icon-redu3:before {
  content: "\e697";
}

.icon-Translate-Fill:before {
  content: "\e7bf";
}

.icon-Xmind-Note-Fill:before {
  content: "\e7bd";
}

.icon-Xmind-Note-Outline:before {
  content: "\e7be";
}

.icon-Matrix-Fill:before {
  content: "\e7bc";
}

.icon-Matrixed:before {
  content: "\e7bb";
}

.icon-Topping-Outline:before {
  content: "\e7b9";
}

.icon-Topping-Cancel:before {
  content: "\e7ba";
}

.icon-CAJ-Local-default:before {
  content: "\e7a0";
}

.icon-CAJ-Online-default:before {
  content: "\e7a1";
}

.icon-PPT-Local-default:before {
  content: "\e7a2";
}

.icon-PPT-Online-default:before {
  content: "\e7a3";
}

.icon-Word-Local-default:before {
  content: "\e7a4";
}

.icon-Word-Online-default:before {
  content: "\e7a5";
}

.icon-Excel-Local-default:before {
  content: "\e7a6";
}

.icon-Excel-Online-default:before {
  content: "\e7a7";
}

.icon-Epub-Local-default:before {
  content: "\e7a8";
}

.icon-Epub-Online-default:before {
  content: "\e7a9";
}

.icon-Image-Online-default:before {
  content: "\e7aa";
}

.icon-Image-Local-default:before {
  content: "\e7ab";
}

.icon-Xmind-Local-default:before {
  content: "\e7ac";
}

.icon-Xmind-Online-default:before {
  content: "\e7ad";
}

.icon-Book-Local-default:before {
  content: "\e7ae";
}

.icon-Book-Online-default:before {
  content: "\e7af";
}

.icon-Video-Local-default:before {
  content: "\e7b0";
}

.icon-Video-Online-default:before {
  content: "\e7b1";
}

.icon-Audio-Local-default:before {
  content: "\e7b2";
}

.icon-Audio-Online-default:before {
  content: "\e7b3";
}

.icon-Other-Local-default:before {
  content: "\e7b4";
}

.icon-Other-Online-default:before {
  content: "\e7b5";
}

.icon-Nooriginal-Online-default:before {
  content: "\e7b7";
}

.icon-Nooriginal-Local-default:before {
  content: "\e7b8";
}

.icon-XML-Online-default:before {
  content: "\e79c";
}

.icon-XML-Local-default:before {
  content: "\e79d";
}

.icon-PDF-Local-default:before {
  content: "\e79e";
}

.icon-PDF-Online-default:before {
  content: "\e79f";
}

.icon-Abstract:before {
  content: "\e794";
}

.icon-Fund:before {
  content: "\e795";
}

.icon-Periodical:before {
  content: "\e796";
}

.icon-KeyWords:before {
  content: "\e797";
}

.icon-Steps:before {
  content: "\e798";
}

.icon-Relationship:before {
  content: "\e799";
}

.icon-Organization:before {
  content: "\e79a";
}

.icon-Date1:before {
  content: "\e79b";
}

.icon-a-Data-Outline:before {
  content: "\e792";
}

.icon-Data-Fill:before {
  content: "\e793";
}

.icon-Link:before {
  content: "\e78f";
}

.icon-Table-Set:before {
  content: "\e790";
}

.icon-Matrix:before {
  content: "\e791";
}

.icon-A-Z:before {
  content: "\e788";
}

.icon-Onekey-Open:before {
  content: "\e789";
}

.icon-More-Outline:before {
  content: "\e78a";
}

.icon-Tag-Add:before {
  content: "\e78b";
}

.icon-Onekey-Fold:before {
  content: "\e78c";
}

.icon-Export:before {
  content: "\e78d";
}

.icon-Online:before {
  content: "\e78e";
}

.icon-Compile:before {
  content: "\e784";
}

.icon-Skip:before {
  content: "\e785";
}

.icon-Source:before {
  content: "\e786";
}

.icon-Bibliography:before {
  content: "\e787";
}

.icon-Dictionary:before {
  content: "\e781";
}

.icon-Baike:before {
  content: "\e782";
}

.icon-Translate:before {
  content: "\e783";
}

.icon-Style:before {
  content: "\e780";
}

.icon-Note-Video:before {
  content: "\e77a";
}

.icon-Doodle:before {
  content: "\e77c";
}

.icon-Freenote:before {
  content: "\e77d";
}

.icon-Note-Paragraph:before {
  content: "\e77e";
}

.icon-Note-Image:before {
  content: "\e77f";
}

.icon-Comments-Fill:before {
  content: "\e778";
}

.icon-Comments-Outline:before {
  content: "\e779";
}

.icon-Highlight:before {
  content: "\e774";
}

.icon-Original:before {
  content: "\e775";
}

.icon-Underline1:before {
  content: "\e776";
}

.icon-Extract:before {
  content: "\e777";
}

.icon-Help-Outline:before {
  content: "\e770";
}

.icon-Help-Fill:before {
  content: "\e771";
}

.icon-Explain-Fill:before {
  content: "\e772";
}

.icon-Explain-Outline:before {
  content: "\e773";
}

.icon-Date:before {
  content: "\e76f";
}

.icon-Time:before {
  content: "\e76e";
}

.icon-Folder-Add:before {
  content: "\e76c";
}

.icon-Folder-Del:before {
  content: "\e76d";
}

.icon-fold:before {
  content: "\e76b";
}

.icon-Folder-Fill:before {
  content: "\e768";
}

.icon-Folder-Outline:before {
  content: "\e769";
}

.icon-Sort:before {
  content: "\e76a";
}

.icon-User-Fill:before {
  content: "\e766";
}

.icon-User-Outline:before {
  content: "\e767";
}

.icon-Menber-Outline:before {
  content: "\e762";
}

.icon-Menber-Fill:before {
  content: "\e763";
}

.icon-Notice-Fill:before {
  content: "\e764";
}

.icon-Notice-Outline:before {
  content: "\e765";
}

.icon-Points:before {
  content: "\e761";
}

.icon-Authors-Outline:before {
  content: "\e75e";
}

.icon-Authors-Fill:before {
  content: "\e75f";
}

.icon-Topping-Fill:before {
  content: "\e760";
}

.icon-Full-On:before {
  content: "\e75c";
}

.icon-Full-Off:before {
  content: "\e75d";
}

.icon-Search-Add:before {
  content: "\e75a";
}

.icon-Loading:before {
  content: "\e75b";
}

.icon-Quote-Fill:before {
  content: "\e758";
}

.icon-Quote-Outline:before {
  content: "\e759";
}

.icon-Rename:before {
  content: "\e756";
}

.icon-Edit:before {
  content: "\e757";
}

.icon-Move:before {
  content: "\e755";
}

.icon-Paste:before {
  content: "\e753";
}

.icon-Copy:before {
  content: "\e754";
}

.icon-Drag:before {
  content: "\e752";
}

.icon-NO:before {
  content: "\e74d";
}

.icon-NO-Outline:before {
  content: "\e74e";
}

.icon-NO-Fill:before {
  content: "\e74f";
}

.icon-Yes:before {
  content: "\e74a";
}

.icon-Yes-Outline:before {
  content: "\e74b";
}

.icon-Yes-Fill:before {
  content: "\e74c";
}

.icon-Subtract:before {
  content: "\e747";
}

.icon-Subtract-Outline:before {
  content: "\e748";
}

.icon-Subtract-Fill:before {
  content: "\e749";
}

.icon-tianjia:before {
  content: "\e744";
}

.icon-add-outline:before {
  content: "\e745";
}

.icon-Add-Fill:before {
  content: "\e746";
}

.icon-more:before {
  content: "\e743";
}

.icon-Team:before {
  content: "\e742";
}

.icon-Contribution:before {
  content: "\e73c";
}

.icon-Achievements:before {
  content: "\e73d";
}

.icon-Package:before {
  content: "\e73f";
}

.icon-a-Signout:before {
  content: "\e740";
}

.icon-a-Setup:before {
  content: "\e741";
}

.icon-Special:before {
  content: "\e738";
}

.icon-Article:before {
  content: "\e739";
}

.icon-Mind:before {
  content: "\e73a";
}

.icon-Kaiti:before {
  content: "\e73b";
}

.icon-upload:before {
  content: "\e736";
}

.icon-download:before {
  content: "\e737";
}

.icon-search:before {
  content: "\e734";
}

.icon-Arrow-Big:before {
  content: "\e730";
}

.icon-shouqi:before {
  content: "\e731";
}

.icon-Arrow-Small:before {
  content: "\e732";
}

.icon-Arrow-Square:before {
  content: "\e733";
}

.icon-Collect-Outline:before {
  content: "\e72e";
}

.icon-Collect-Fill:before {
  content: "\e72f";
}

.icon-Subscribe-Outline:before {
  content: "\e72a";
}

.icon-Subscribe-Fill:before {
  content: "\e72b";
}

.icon-System-Outline:before {
  content: "\e72c";
}

.icon-System-Fill:before {
  content: "\e72d";
}

.icon-mine-Outline:before {
  content: "\e71f";
}

.icon-mine-Fill:before {
  content: "\e720";
}

.icon-Notes-Outline:before {
  content: "\e721";
}

.icon-Notes-Fill:before {
  content: "\e723";
}

.icon-Note-Outline:before {
  content: "\e724";
}

.icon-Note-Fill:before {
  content: "\e725";
}

.icon-Tag-Outline:before {
  content: "\e726";
}

.icon-Tag-Fill:before {
  content: "\e727";
}

.icon-Delate-Outline:before {
  content: "\e728";
}

.icon-Delate-Fill:before {
  content: "\e729";
}

.icon-home-Outline:before {
  content: "\e715";
}

.icon-home-Fill:before {
  content: "\e716";
}

.icon-read-Outline:before {
  content: "\e718";
}

.icon-read-Fill:before {
  content: "\e719";
}

.icon-write-Outline:before {
  content: "\e71a";
}

.icon-write-Fill:before {
  content: "\e71b";
}

.icon-tags-Outline:before {
  content: "\e71c";
}

.icon-tags-Fill:before {
  content: "\e71d";
}

.icon-youjiantou:before {
  content: "\e62c";
}

.icon-gengduo1:before {
  content: "\e62b";
}

.icon-yichu:before {
  content: "\e6dd";
}

.icon-good:before {
  content: "\e649";
}

.icon-buganxingqu:before {
  content: "\e8ac";
}

.icon-shanchuzhongfudian:before {
  content: "\ee22";
}

.icon-fenxi1:before {
  content: "\e60c";
}

.icon-tubiaozhizuomoban:before {
  content: "\e6b0";
}

.icon-zhifushibai:before {
  content: "\e635";
}

.icon-quanyi:before {
  content: "\e621";
}

.icon-Underline:before {
  content: "\e646";
}

.icon-gaoliang:before {
  content: "\e6b1";
}

.icon-price_up:before {
  content: "\e648";
}

.icon-tougaofenxi:before {
  content: "\e61e";
}

.icon-zhishiku:before {
  content: "\e61c";
}

.icon-juzhen:before {
  content: "\e68b";
}

.icon-shaixuan3:before {
  content: "\e6a3";
}

.icon-pingjunhanggao:before {
  content: "\e66f";
}

.icon-xiajiantou:before {
  content: "\e678";
}

.icon-guanli:before {
  content: "\e67a";
}

.icon-biaogeshezhi:before {
  content: "\e67b";
}

.icon-gengduo:before {
  content: "\e67d";
}

.icon-xianshilie:before {
  content: "\e67e";
}

.icon-xianshihang:before {
  content: "\e682";
}

.icon-xiayi:before {
  content: "\e685";
}

.icon-chenggong:before {
  content: "\e688";
}

.icon-neirongliegao:before {
  content: "\e689";
}

.icon-shanchuhang:before {
  content: "\e68a";
}

.icon-youyi:before {
  content: "\e68c";
}

.icon-shangyi:before {
  content: "\e68d";
}

.icon-neirongliekuan:before {
  content: "\e68e";
}

.icon-yincanghang:before {
  content: "\e693";
}

.icon-gongjushu:before {
  content: "\e694";
}

.icon-yaosuguanli:before {
  content: "\e696";
}

.icon-pingjungelie:before {
  content: "\e699";
}

.icon-zuoyi:before {
  content: "\e69b";
}

.icon-yincanglie:before {
  content: "\e69c";
}

.icon-yichuhang:before {
  content: "\e69d";
}

.icon-yichulie:before {
  content: "\e69f";
}

.icon-gongshi:before {
  content: "\e6a1";
}

.icon-qingxie:before {
  content: "\e6a5";
}

.icon-wifi:before {
  content: "\e6a6";
}

.icon-fujian1:before {
  content: "\e6a7";
}

.icon-xiahuaxian:before {
  content: "\e6a9";
}

.icon-lianjie1:before {
  content: "\e6aa";
}

.icon-jiacu:before {
  content: "\e6ab";
}

.icon-tupian1:before {
  content: "\e6ac";
}

.icon-wenbenyanse:before {
  content: "\e6af";
}

.icon-Excelgeshi:before {
  content: "\e705";
}

.icon-Wordgeshi:before {
  content: "\e706";
}

.icon-lianjie:before {
  content: "\e606";
}

.icon-fenxi:before {
  content: "\e7b6";
}

.icon-laiyuan:before {
  content: "\e77b";
}

.icon-ziyuan204:before {
  content: "\e691";
}

.icon-shenfenrenzheng:before {
  content: "\e647";
}

.icon-yidu:before {
  content: "\e680";
}

.icon-vip-crown--fill:before {
  content: "\e8ad";
}

.icon-quan:before {
  content: "\e717";
}

.icon-tipnew:before {
  content: "\e672";
}

.icon-fujian:before {
  content: "\e60b";
}

.icon-bingtu1:before {
  content: "\e6c0";
}

.icon-vipdiamond-f:before {
  content: "\e65c";
}

.icon-laba:before {
  content: "\e629";
}

.icon-shezhi:before {
  content: "\e722";
}

.icon-zuoyoufenbu:before {
  content: "\e645";
}

.icon-jiegoumoban:before {
  content: "\e612";
}

.icon-ic_shujiegou_jia:before {
  content: "\e948";
}

.icon-ic_shujiegou_jian:before {
  content: "\e949";
}

.icon-shuzhuangtu:before {
  content: "\eef4";
}

.icon-gouxuan:before {
  content: "\e61b";
}

.icon-gouxuanon:before {
  content: "\e65b";
}

.icon-dropdown:before {
  content: "\e63e";
}

.icon-fanhuidingbu:before {
  content: "\e63d";
}

.icon-lunwenku:before {
  content: "\e66c";
}

.icon-weirenzheng:before {
  content: "\e600";
}

.icon-yirenzheng:before {
  content: "\e601";
}

.icon-zybjieshao:before {
  content: "\e668";
}

.icon-tishi:before {
  content: "\e654";
}

.icon-kefu:before {
  content: "\e6bb";
}

.icon-iconyinyong1:before {
  content: "\e661";
}

.icon-fanhui:before {
  content: "\e61f";
}

.icon-wenjianjia2:before {
  content: "\e627";
}

.icon-paixu:before {
  content: "\e630";
}

.icon-huanyihuan:before {
  content: "\e626";
}

.icon-ups:before {
  content: "\e662";
}

.icon-top:before {
  content: "\e608";
}

.icon-video:before {
  content: "\e644";
}

.icon-weishoucang:before {
  content: "\e677";
}

.icon-yishoucang:before {
  content: "\e67c";
}

.icon-ziyuan:before {
  content: "\e686";
}

.icon-zhaiyao:before {
  content: "\e65f";
}

.icon-zyglxq:before {
  content: "\e7df";
}

.icon-tuandui:before {
  content: "\e60a";
}

.icon-jiahao:before {
  content: "\e643";
}

.icon-stared:before {
  content: "\e63b";
}

.icon-ceping:before {
  content: "\e619";
}

.icon-home:before {
  content: "\e609";
}

.icon-box:before {
  content: "\e6ae";
}

.icon-study:before {
  content: "\e605";
}

.icon-xinjianbiaoqian:before {
  content: "\e66e";
}

.icon-weibiaoti-1:before {
  content: "\e673";
}

.icon-right-xm:before {
  content: "\eef0";
}

.icon-data:before {
  content: "\e614";
}

.icon-newnote:before {
  content: "\e624";
}

.icon-l-second:before {
  content: "\e6c4";
}

.icon-delete:before {
  content: "\e692";
}

.icon-note:before {
  content: "\e6ad";
}

.icon-wenxian:before {
  content: "\e642";
}

.icon-datamange:before {
  content: "\e63a";
}

.icon-fuzhi:before {
  content: "\e698";
}

.icon-tag1:before {
  content: "\e66b";
}

.icon-banbengengxin:before {
  content: "\e67f";
}

.icon-edit:before {
  content: "\e679";
}

.icon-l-first:before {
  content: "\e62a";
}

.icon-zhiding1:before {
  content: "\e69a";
}

.icon-time:before {
  content: "\e6f4";
}

.icon-remind:before {
  content: "\e61d";
}

.icon-addto:before {
  content: "\e653";
}

.icon-plan:before {
  content: "\e681";
}

.icon-rename:before {
  content: "\e671";
}

.icon-move:before {
  content: "\e61a";
}

.icon-wenzhang1:before {
  content: "\e675";
}

.icon-sys:before {
  content: "\e664";
}

.icon-newnb:before {
  content: "\e65e";
}

.icon-readed:before {
  content: "\e60e";
}

.icon-read:before {
  content: "\e60d";
}

.icon-dingyue1:before {
  content: "\e665";
}

.icon-newFolder:before {
  content: "\e602";
}

.icon-edit2:before {
  content: "\e683";
}

.icon-wenzhai:before {
  content: "\e638";
}

.icon--baocunmoban:before {
  content: "\e674";
}

.icon-wangge:before {
  content: "\e620";
}

.icon-l-first1:before {
  content: "\e604";
}

.icon-fruit:before {
  content: "\e611";
}

.icon-edtor:before {
  content: "\e66d";
}

.icon-atlas:before {
  content: "\e64e";
}

.icon-help:before {
  content: "\e656";
}

.icon-huibian:before {
  content: "\e63f";
}

.icon-ziliaoku:before {
  content: "\e68f";
}

.icon-hulianwang:before {
  content: "\e687";
}

.icon-navicon-tp:before {
  content: "\e676";
}

.icon-feedback:before {
  content: "\e98c";
}

.icon-daochu:before {
  content: "\e7ea";
}

.icon-wenjianjia-shi:before {
  content: "\e690";
}

.icon-sousuofangda:before {
  content: "\ec32";
}

.icon-lingcunwei1:before {
  content: "\e6a0";
}

